body {
    background-color: black;
}

#p01 {
    color: red;
    border: 1px solid powderblue;
    padding: 30px;
}

p.error {
    color: yellow;
    font-size: 20px;
}


/*=====to modify links' style=====*/

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;

